{# {% extends "./03-organisms/navbar/navbar.twig" %} #}

{% block links %}
  <a class="nav-item nav-link active" href="#">Chambres Disponibles</a>
  <a class="nav-item nav-link" href="#">Prix</a>
  <a class="nav-item nav-link" href="#">Réservation</a>
  <a class="nav-item nav-link" href="#">Nous trouver</a>
  <a class="nav-item nav-link" href="#">Contact</a>
  <a class="nav-item nav-link" href="#">S'identifier</a>
{% endblock %}
